/code_other/*
/output/*
/code_similarity/analyse_bindPredict_results.py
/get_pfam_mapping.py
/code_similarity/__pycache__/*
/code_prediction/__pycache__/*
/code_similarity/test.py
/data/pdbmap
*.sh
*.aln
*.dnd
*.fasta
*.p
